
// Springville font 
@font-face {
font-family: "Springville";
src: local("Springville"),
 url("../fonts/Springville-Regular3.otf") format("truetype");
}
// Caslon pro font 
@font-face {
font-family: "Caslon Pro";
src: local("Caslon Pro"),
 url("../fonts/ACaslonPro-Regular.otf") format("truetype");
}