/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Springville font 
@font-face {
font-family: "Springville";
src: local("Springville"),
 url("../fonts/Springville-Regular3.otf") format("truetype");
}
// Caslon pro font 
@font-face {
font-family: "ACaslonPro";
src: local("ACaslonPro"),
 url("../fonts/ACaslonPro-Regular.otf") format("truetype");
}
/***************************************************
￼Easy to remember media query sizes
****************************************************/

//How to Use
// @include mediaSize(phone)
// @include mediaSize(tablet-small)
// @include mediaSize(tablet)
// @include mediaSize(desktop)
// @include mediaSize(big-desktop)

@mixin mediaSize($size) {
	@if $size == tablet-small {
		@media (min-width: 481px) {
			@content;
		} // Min width of 481px
	} @else if $size == tablet {
		@media (min-width: 768px) {
			@content;
		} // Up to 1024px
	} @else if $size == desktop {
		@media (min-width: 1025px) {
			@content;
		} // Up to 1440px
	} @else if $size == big-desktop {
		@media (min-width: 1441px) {
			@content;
		} //Larger than 1440px
	}
}

// TODO: Variables need to be moved to own file.
$primary: #131313;
$gray: #767676;
$light-gray: #DBDBDB;
$white: #FCFCFC;
$green: #4dc97d;
$red: #e74c3c;
//Font Family
$primary-font: "Springville", sans-serif;
$secondary-font: "ACaslonPro", sans-serif;
$arial: Arial, Helvetica, sans-serif;

//End of vars

/* 
////// General Styles
*/

/* 
////// Typography☄
*/

body {
    font-family: $secondary-font;
    font-size: 16px;
    color: $primary;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

 /* 
////// Breakpoints //////

* Mobile: 480px max-width
● SmallTablet: 768px max-width
● Tablet: 1024px max-width
● Desktop: 1440px max-width
● Large Desktop: 1441px and greater
*/

/* 
//////  Intro Notes
Your sample will be expected to function properly on IE 11, Edge, and the last 3 versions of Chrome, Firefox, and Safari, as well as on iOS Safari and Chrome (iPhone and iPad). No text links are expected to be functional, but please include hover states (text hover state is shown in the comp).
*/

/* 
////// Header

// Notes: 

When mobile, needs to have height of 50px

The header should be fixed at the top of the screen as the user scrolls. On mobile, the height of the header should be 50px. Please resize and align items as necessary, keeping the logo to the left, and other items to the right. At the top of the page, the header should not cover the Hero Carousel.
*/

header {
    min-height: 50px;
    padding: 1.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    @include mediaSize(tablet) {
        padding: 2rem;
    }
    img {
        width: 100%;
    }
    .logo {
        flex-basis: 70%;
        max-width: 200px;
        
        align-content: center;
        @include mediaSize(tablet) {
            flex-basis: 30%;
        }
    }
    .contact {
        font-size: .5rem;
        padding: 8px;
        @include mediaSize(tablet-small) {
            font-size: .75rem;
        }

        font-family: $arial;
        a {
            padding: 8px;
            text-decoration: none;
            text-transform: uppercase;
            color: $gray;
            transition: all .2s ease-in-out;
            &:hover {
                text-decoration: underline;
                color: $primary;
            }
        }
    }
    .hamburger {
        margin: 5px;
        width: 25px;
        height: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover {
            cursor: pointer;
        }

        .line {
            height: 1px;
            min-width: 100%;
            background-color: $primary;
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
}

/* 
////// Hero Carousel
Notes:

The wide image with overlaid text is a carousel. No previous/next arrows are necessary, but please include the navigation dots as shown in the comp. Please have each slide advance automatically every 5 seconds and loop back to the beginning when the last slide is reached. Users on touch-enabled devices should be able to swipe between slides. The maximum width of the carousel should be 1440px, centering on screens wider than that. As the screen narrows, keep the height (580px) the same, clipping the sides of the image while keeping the text visible and appropriately padded. Once the screen is narrow enough for the carousel to reach a 4:3 ratio, both the width and height of the carousel should scale with the browser width, maintaining the 4:3 aspect ratio. Text may be resized as necessary.
*/
.hero {
    position: relative;
    height: auto;
    
    img {
        filter: brightness(50%)
    }
    margin: 0 auto 50px;

    @include mediaSize(tablet-small) {
        max-height: 580px;
        aspect-ratio: auto;
    }
}
.hero-text {
    color: $white;
    text-align: left;
    padding: 4%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    position: absolute;
    bottom: 0;

    h1 {
        font-size: 3.5rem;
        font-family: $primary-font;
        line-height: 3.5rem;

    }
    h3 {
        font-size: 1.5rem;
        padding: 2rem 0;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}

/* 
////// Posts -- Masonry Grid
Notes:

Items on the masonry grid should be sorted by date, from newest to oldest - the order should not be hardcoded. Please scale the grid and item padding with the browser width. The large titles can scale as you deem appropriate, but please keep the smaller text at its current size. Please adjust the grid to 2 columns for Tablet view. At this point, the padding between the items should be the same as the padding between the grid and the edge of the screen. On Mobile view, the grid should collapse to one column and maintain the same spacing as the tablet view. 
*/

.posts {
    text-align: left;
    article {
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-gray;
        margin-bottom: 2rem;
    }

    img {
        width: 100%;
    }
    p {
        font-size: .85rem;

        a {
            color: $primary;
            text-transform: uppercase;
        }
    }
    p.date {
        padding: 2rem 0 1.5rem;
        font-size: .78rem;
        text-transform: uppercase;
        font-family: $arial;
        color: $gray;
    }

    h2 {
        margin: 0 0 1.5rem;
        
        a {
            font-size: 3.5rem;
            text-decoration: none;
            font-family: $primary-font;
            color: $primary;
            @include mediaSize(tablet-small) {
            font-size: 2rem;
            }
            @include mediaSize(tablet) {
                font-size: 3.5rem;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  padding: 0 2%;
  @media only screen and (min-width: 1500px) {
    padding: 0;
    } /* end of media query */
  width: auto;
}
.my-masonry-grid_column {
  padding: 0 4%; /* gutter size */
  background-clip: padding-box;
  @include mediaSize(tablet-small) {
      padding: 0 2%;
  }
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

/* 
////// Footer Form
Notes:
The footer form should validate before submitting. Validations include ensuring the email is not blank and it is a valid email. Errors / failed validations should be displayed when submitting the form. If the form submission is successful, a thank you message should be displayed.
*/
footer {
    padding-bottom: 96px;

    .alert-success {      
        margin: 20px 0;
        text-align: center;
        font-weight: 2rem;
        border: 1px solid darken($green, 10%);
        background-color: $green;
        padding: 20px 0;
    }
    .error {      
        margin: 20px 0;
        text-align: center;
        font-weight: 2rem;
        border: 1px solid darken($red, 10%);
        background-color: $red;
        padding: 20px 0;
    }
    .newsletter {
        padding: 5rem 2%;

        h3 {
            padding: 20px 0;
            font-size: 18px;
        }

        form {
            label {
                position: relative;
                transform: translateX(-90%);
                padding: 10px 0 10px;

                span {
                    padding:10px;
                    pointer-events: none;
                    position:absolute;
                    left:0;
                    top:0;
                    transition: all 0.2s ease-in-out;
                    opacity:0.5;
                }
            }
            
            input {
                border: 1px solid $primary;
                padding: 13px 15px 10px;
                min-width: 200px;
                font-family: $secondary-font;
                transition: all 0.2s ease-in-out;
                &:not(:placeholder-shown) + span {
                    opacity:1;
                    transform: scale(0.75) translateY(-120%) translateX(-20px);
                }
                &:focus + span {
                    opacity:1;
                    transform: scale(0.75) translateY(-120%) translateX(-20px);
                }
            }
            /* For IE Browsers*/
            input:focus + span, input:not(:-ms-input-placeholder) + span {
                opacity:1;
                transform: scale(0.75) translateY(-100%) translateX(-30px);
            }
            button {
                padding: 12px 20px 11px;
                border: none;
                background-color: $primary;
                font-size: 1rem;
                // line-height: 2rem;
                color: $white;
                font-family: $secondary-font;
                text-transform: uppercase;
            }
        }
    }
    .creds {
        font-size: .7rem;
        line-height: 1.6rem;
        font-family: $arial;
        padding: 50px auto 125px;
        text-transform: uppercase;

        a {
            color: $primary;
            text-decoration: underline;

        }
    }
    
    @include mediaSize(tablet-small) { 
        .creds:first-of-type {
        &:after {
            content: '-';
            padding: 5px;
        }
    }
        .credits {
            display: flex;
            justify-content: center;
        }
    }
}